1. EXPLAIN WITH AN EXAMPLE EACH WHEN TO USE A FOR LOOP AND A WHILE LOOP.

In [1]:
''' ANS :-  FOR LOOP - FOR LOOP CAN BE USED -
        a. TO ITERATE OVER AN ARRAY
        b. WHEN WE KNOW THE LOOP SHOULD EXECUTE 'N' TIMES.'''

" ANS :-  FOR LOOP - FOR LOOP CAN BE USED -\n        a. TO ITERATE OVER AN ARRAY\n        b. WHEN WE KNOW THE LOOP SHOULD EXECUTE 'N' TIMES."

In [2]:
## EXAMPLE OF FOR LOOP FOR ADDING 1 IN EVERY ELEMENT OF LIST

In [5]:
l=[1,2,3,4,5]

In [6]:
for i in l:
        print(i+1)

2
3
4
5
6

In [7]:
''' WHILE LOOP - WHILE LOOP CAN BE USED -
    a. WHEN ASKING FOR USER INPUT.
    b. WHEN THE INCREMENT VALUE IS NONSTANDARD.'''

' WHILE LOOP - WHILE LOOP CAN BE USED -\n    a. WHEN ASKING FOR USER INPUT.\n    b. WHEN THE INCREMENT VALUE IS NONSTANDARD.'

In [8]:
## EXAMPLE OF WHILE LOOP TO ADD TILL USER DEFINED NUMBER

In [9]:
n= int(input("enter your limit"))
a=0
counter = 1

while counter<= n:
    a=a+counter
    counter = counter+1
    
a

enter your limit 10

55

2. WRITE A PYTHON PROGRAM TO PRINT THE SUM AND PRODUCT OF THE FIRST 10 NATURAL NUMBERS USING FOR LOOP AND WHILE LOOP

In [21]:
## for loop 
summ = 0
product=1
for i in range(1,11):
    summ = summ + i
    product = product*i
    i=i+1

print ('sum =',summ)
print('product=',product)

sum = 55
product= 3628800

In [22]:
##while loop

sum=0
product=1
i=1
while i<=10:
    sum = sum + i
    product = product * i
    i=i+1
print ('sum =',sum)
print('product=',product)

sum = 55
product= 3628800

3.CREATE A Python program to compute the electricity bill 4 household. The per unit charge in rupees are as follows :
   For the first 100 units, The user will be charged. ₹4.5 per unit. For the next 100 units, The user will be charged ₹6 per unit, And the next 100 Units, The user will charge ₹10 per unit. After 300 units and above, the user will be charged Rs. 20 per unit.
    You are required to take the units of electricity consumed in a month from the user as input.
    Your program must pass this test case when the unit of electricity consumed by a user in a month is 310, The total electricity bill should be 2250.

In [31]:
unit = int(input("enter the number of units you consumed  in a month "))
if unit<=100:
    pay= unit*4.5
    
elif unit<=200:
    pay = (100*4.5) + (unit -100)* 6
    
elif unit<=300:
    pay = (100*4.5) + 100* 6 +  (unit-200) * 10
    
else :
    pay = (100*4.5) + 100* 6 +  100 * 10 + (unit - 300) * 20
    
print ('total amout to pay',pay   )

enter the number of units you consumed  in a month  310

total amout to pay 2250.0

4.CREATE A LIST OF NUMBER FROM 1 TO 100. USE FOR LOOP AND WHILE LOOP TO CALCULATE THE CUBE OF EACH NUMBER AND IF THE CUBE OF THAT NUMBER IS DIVISIBLE BY 4 AND 5 THEN APPEND THAT NUMBER IN A LIST AND PRINT THAT LIST.

In [1]:
## for loop
l=list(range(1,101))
l1=[]
for i in range(1,101):
        c = i**3
        if c%4==0 or c%5==0 :
            l1.append(c)
l1

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

In [2]:
## while loop
l=list(range(1,101))
l1=[]
n=1
i=100
while(n<=i):
    c=n**3
    if c % 4 == 0 or c % 5 == 0:
            l1.append(c)
    n=n+1
    
l1

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

5. Write a program to filter count vowels in the below - given string.
string = 'I want to become a data scientist.'

In [3]:
input = list("i want to become a data scientist")
def vowel(x):
    v=('a' , 'e' , 'i' , 'o' , 'u')
    return x in v

output = list(filter(vowel , input))
print('vowels : ' , output)
print("number of vowels :" , len(output))

vowels :  ['i', 'a', 'o', 'e', 'o', 'e', 'a', 'a', 'a', 'i', 'e', 'i']
number of vowels : 12